


<section class="products-show">

  <header class="page-header">
    <h1>Signup for Jungle!</h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <%= form_for :user, url: '/users' do |f| %>
          <dt>Name</dt>
          <dd><%= f.text_field :name %></dd>
          <dt>Email</dt>
          <dd><%= f.text_field :email %></dd>
          <dt>Password</dt>
          <dd><%= f.password_field :password %></dd>
          <dt>Confirm Password </dt>
          <dd><%= f.password_field :password_confirmation %></dd><br>
          <dd></dd>
          <dd><%= f.submit "Submit" %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </article>
</section>